// Rename this file to .env and fill in the values

//email credentials for sending notifications
EMAIL_USER=

//password for the email account can find it in google account settings under security and app passwords
EMAIL_PASS=

//mongodb connection string, can be obtained from mongodb atlas
MONGO_URI=

//api key for google gemini, can be obtained from google cloud console
GEMINI_API_KEY=